.styledPageHeading {
  color: #1a202c;
  position: relative;
  z-index: 40;
  font-size: 4rem;

  &:before {
    content: "";

    display: block;
    height: 80%;
    width: 110%;
    position: absolute;
    top: 2.8rem;
    left: 1.5;
    z-index: -1;
    background-image: linear-gradient(to top right, #fff95a, #fff22e);
    border-radius: 1rem;
  }
}

.styledPostList {
    h3:not(first-child) {
        margin-top: 2.75rem;
    }
}

.readMoreLink {
 
    display: none;
    margin-top: 0.5rem;
    margin-left: 3.8rem;
    font-size: 12px;

    @media (min-width: 768px) {
        display: flex;
        cursor: pointer;
    }

    .arrow {
        opacity: 0;
        transform-origin: center center;
        transform: rotate(-20deg) translateY(-5px);
        transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:hover {
        .arrow {
        opacity: 1;
        transform: rotate(0) translateY(0);
        }
    }
}