.hi {
  position: relative;
  z-index: 20;
}

.hi__wavy {
  font-size: 2.25rem;
  margin-left: 3rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .hi__wavy {
    font-size: 5rem;
    margin-left: 3rem;
    margin-right: 2rem;
  }
}

.hi__top {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .hi__top {
    font-size: 2rem;
  }
}

.hi__daniel {
  font-size: 20vw;
  line-height: 1;
}

@media (min-width: 768px) {
  .hi__daniel {
    font-size: 8.75rem;
  }
}

.hi__pointecker {
  font-size: 12vw;
  line-height: 1;
  margin-left: 3rem;
  color: #c6b901;
}

@media (min-width: 768px) {
  .hi__pointecker {
    font-size: 6rem;
  }
}

.bgTile {
  position: absolute;
  background-image: linear-gradient(to bottom, #fff95a, #fff22e);
  height: 14rem;
  width: 34rem;
  max-width: 100%;
  top: 6rem;
  left: 4rem;
  right: 1rem;
  border-radius: 2rem;
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  .bgTile {
    background-image: linear-gradient(to bottom, #065f46, #064e3b);
  }
}

@media (min-width: 768px) {
  .bgTile {
    top: 12rem;
    height: 20rem;
    width: 40rem;
  }
}
