@import url('fonts.css');
@import url('colors.css');

*, ::after, ::before {
	box-sizing: border-box;
}

body {
    background-color: var(--yellow-sunflower);
}
h1 {
    font-family: 'MasstransitMono', monospace;
    font-size: 5.5rem;
    font-weight: 100;
}