.hi {
    position: relative;
  z-index: 20;

  .hi {
    &__wavy {
      font-size: 2.25rem;
      margin-left: 3rem;
      margin-right: 1rem;

      @media (min-width: 768px) {
        font-size: 5rem;
        margin-left: 3rem;
        margin-right: 2rem;
      }
    }
    &__top {
      font-size: 1.5rem;

      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
    &__daniel {
      font-size: 20vw;
      line-height: 1;

      @media (min-width: 768px) {
        font-size: 8.75rem;
      }
    }
    &__pointecker {
      font-size: 12vw;
      line-height: 1;
      margin-left: 3rem;
      color: #c6b901;

      @media (min-width: 768px) {
        font-size: 6rem;
      }
    }
  }
}

.bgTile {
    position: absolute;
  background-image: linear-gradient(to bottom, #FFF95A, #FFF22E);
  height: 14rem;
  width: 34rem;
  max-width: 100%;
  top: 6rem;
  left: 4rem;
  right: 1rem;
  border-radius: 2rem;
  z-index: -1;

  @media (min-width: 768px) {
    top: 12rem;
    height: 20rem;
    width: 40rem;
  }
}