@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --font-sans: "Greycliff", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono: "Codesaver", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-accent-1: #333;
  }

  html {
    margin-left: calc(100vw - 100%);
  }

  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .font-mono {
    font-family: var(--font-mono);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #065f46;
    color: #f3f4f6;
  }
}
